In [1]:
import pandas as pd
import calendar
df=pd.read_csv('applications data.csv')
df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: 'applications data.csv'

In [2]:
# fix data type
df['date']= pd.to_datetime(df.date.astype(str).apply(lambda x:x[:4] + '-' + x[4:6]+'-' + x[6:]))
df['zip5']= df['zip5'].apply(lambda x: '{0:0>5}'.format(x))
df.head(20)

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,19070626,1797504115,0
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,216537580,0
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0
4,5,2016-01-01,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0
5,6,2016-01-01,922264214,XEEJJSTER,ERJSAXA,4322 USJXU LN,08391,19480613,5742016319,0
6,7,2016-01-01,415812149,XZJRJUSRR,STSMJRUM,478 EEXUM LN,41640,19640318,7697396312,0
7,8,2016-01-01,373752050,EJMRRSUXR,AMTZXRU,8906 UUAJ PL,60567,19190528,2727421586,0
8,9,2016-01-01,769970791,RXTSZJATS,RSXMRJME,8266 SSEAR RD,37934,19900314,5520652307,0
9,10,2016-01-01,732119085,EREMTZXXA,EXMMSEXT,9166 XXSAZ PL,93751,19750127,3749451123,0
10,11,2016-01-01,999999999,UZZSMXSEE,USJZUSA,726 UMTXU ST,92129,19400126,3026547212,0
11,12,2016-01-01,854773981,RSZXMZRSU,EZJAXJTZ,2561 RXJXU BLVD,09531,19471211,3896260651,0
12,13,2016-01-01,283419783,EJAASJXXM,UZZSAZJR,4365 UMXZA LN,82369,19000122,5874359299,0
13,14,2016-01-01,800705980,MUTAEUUZS,STAZJXRA,1683 RSEJM ST,66204,19400902,3903104222,0
14,15,2016-01-01,654640127,SUXZRSUZT,UAJRRXM,4961 RTZJA BLVD,61344,19360829,1754954648,0
15,16,2016-01-01,763049287,XAREMEUUU,SXXJSARX,6575 EXZXA RD,43912,19991228,3915611901,0
16,17,2016-01-01,610654961,UJSRSMUEZ,SJATAXXX,4057 SRZAE BLVD,29576,20080401,516200670,0
17,18,2016-01-01,346374636,XRSSZZUXT,ETXZXJAJ,5719 UEZJT PL,51486,19500110,9999999999,0
18,19,2016-01-01,722620451,UXJSUXJUJ,UUMRUSA,1198 XAZZR PL,93301,19901113,439009868,0
19,20,2016-01-01,892971652,XUTMSSREZ,UJEUUJXT,2350 EZTXX AVE,25166,20060815,1938458945,0

In [3]:
# fix frivolous values
# ssn
df.loc[df.ssn == 999999999, 'ssn'] = - df[df.ssn == 999999999]['record']
df['ssn']= df['ssn'].apply(lambda x: '{0:0>9}'.format(x))

#address
df.loc[df.address == '123 MAIN ST', 'address'] = df.loc[df.address == '123 MAIN ST', 'record'].apply(lambda x: str(x) + 'RECORD')

#DOB
df.loc[df.dob == 19070626, 'dob'] = - df.loc[df.dob == 19070626]['record']
df['dob']= df['dob'].apply(lambda x: '{0:0>8}'.format(x))

# homephone
df.loc[df.homephone == 9999999999, 'homephone']= - df.loc[df.homephone == 9999999999]['record']
df['homephone'] = df['homephone'].apply(lambda x: '{0:0>10}'.format(x))

df.head(20)

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,000000-1,1797504115,0
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,000000-3,0216537580,0
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,0132144161,0
4,5,2016-01-01,024065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0
5,6,2016-01-01,922264214,XEEJJSTER,ERJSAXA,4322 USJXU LN,08391,19480613,5742016319,0
6,7,2016-01-01,415812149,XZJRJUSRR,STSMJRUM,478 EEXUM LN,41640,19640318,7697396312,0
7,8,2016-01-01,373752050,EJMRRSUXR,AMTZXRU,8906 UUAJ PL,60567,19190528,2727421586,0
8,9,2016-01-01,769970791,RXTSZJATS,RSXMRJME,8266 SSEAR RD,37934,19900314,5520652307,0
9,10,2016-01-01,732119085,EREMTZXXA,EXMMSEXT,9166 XXSAZ PL,93751,19750127,3749451123,0
10,11,2016-01-01,000000-11,UZZSMXSEE,USJZUSA,726 UMTXU ST,92129,19400126,3026547212,0
11,12,2016-01-01,854773981,RSZXMZRSU,EZJAXJTZ,2561 RXJXU BLVD,09531,19471211,3896260651,0
12,13,2016-01-01,283419783,EJAASJXXM,UZZSAZJR,4365 UMXZA LN,82369,19000122,5874359299,0
13,14,2016-01-01,800705980,MUTAEUUZS,STAZJXRA,1683 RSEJM ST,66204,19400902,3903104222,0
14,15,2016-01-01,654640127,SUXZRSUZT,UAJRRXM,4961 RTZJA BLVD,61344,19360829,1754954648,0
15,16,2016-01-01,763049287,XAREMEUUU,SXXJSARX,6575 EXZXA RD,43912,19991228,3915611901,0
16,17,2016-01-01,610654961,UJSRSMUEZ,SJATAXXX,4057 SRZAE BLVD,29576,20080401,0516200670,0
17,18,2016-01-01,346374636,XRSSZZUXT,ETXZXJAJ,5719 UEZJT PL,51486,19500110,0000000-18,0
18,19,2016-01-01,722620451,UXJSUXJUJ,UUMRUSA,1198 XAZZR PL,93301,19901113,0439009868,0
19,20,2016-01-01,892971652,XUTMSSREZ,UJEUUJXT,2350 EZTXX AVE,25166,20060815,1938458945,0

In [4]:
# Make dat of week target encoding
df['dow'] = df.date.apply(lambda x: calendar.day_name[x.weekday()])
df.head(5)

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,dow
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,000000-1,1797504115,0,Friday
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,Friday
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,000000-3,0216537580,0,Friday
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,0132144161,0,Friday
4,5,2016-01-01,024065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0,Friday

In [5]:
import matplotlib.pyplot as plt
import numpy as np

train_test = df[df.date < '2016-11-01']
c=4 ; nmid=20; y_avg= train_test['fraud_label'].mean()
y_dow= train_test.groupby('dow')['fraud_label'].mean()
num= train_test.groupby('dow').size()
y_dow_smooth = y_avg + (y_dow - y_avg)/ (1+ np.exp (-( num-nmid)/c))
df['dow_risk'] = df.dow.map(y_dow_smooth)

# y_dow= y_dow.reset_index()
# cats = ['Monday', 'Tuesday', 'Wednesday', ' Thursday', 'Friday', 'Saturday', 'Sunday']
# y_dow['dow']= pd.Categorical(y_dow['dow'], categories = cats, ordered = True)
# y_dow= y_dow.sort_values('dow')
# y_dow= y_dow.set_index('dow')
# plt.style.use('ggplot')
# fig, ax = plt.subplots(figsize = (20,10))
# plt.bar(data=y_dow, x=y_dow.index, height='fraud_label', color='darkblue')
# ax.set_ylim(bottom = 0.013)
# ax.axhline (y=y_avg, ls='--', lw=2)

# for i,v in enumerate(y_dow.index):
#     ax.text(v,y_dow.loc[i, 'fraud_label'] + 0.0001,round (y_dow.loc[i, 'fraud_label'], 5, horizontalalignment = 'center', fontsize =15))

# plt.show()

In [6]:
# Make some new entities for variables
df['name']= df.firstname + df.lastname
df['fulladdress']= df.address + df.zip5
df['name_dob']= df.name + df.dob
df['name_fulladdress']= df.name + df.fulladdress
df['name_homephone']= df.name + df.homephone
df['fulladdress_dob']= df.fulladdress + df.dob
df['fulladdress_homephone'] = df.fulladdress + df.homephone
df['dob_homephone']= df.dob + df.homephone
df['homephone_name_dob']= df.homephone + df.name_dob
df.head(5)

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,...,dow_risk,name,fulladdress,name_dob,name_fulladdress,name_homephone,fulladdress_dob,fulladdress_homephone,dob_homephone,homephone_name_dob
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,000000-1,1797504115,0,...,0.014499,XRRAMMTRSMJETJMJ,6861 EUTST PL02765,XRRAMMTRSMJETJMJ000000-1,XRRAMMTRSMJETJMJ6861 EUTST PL02765,XRRAMMTRSMJETJMJ1797504115,6861 EUTST PL02765000000-1,6861 EUTST PL027651797504115,000000-11797504115,1797504115XRRAMMTRSMJETJMJ000000-1
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,...,0.014499,MAMSTUJRRTTEMRRR,7280 URASA PL57169,MAMSTUJRRTTEMRRR19340615,MAMSTUJRRTTEMRRR7280 URASA PL57169,MAMSTUJRRTTEMRRR4164239415,7280 URASA PL5716919340615,7280 URASA PL571694164239415,193406154164239415,4164239415MAMSTUJRRTTEMRRR19340615
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,000000-3,0216537580,0,...,0.014499,SZMMUJEZSEUSEZRAE,5581 RSREX LN56721,SZMMUJEZSEUSEZRAE000000-3,SZMMUJEZSEUSEZRAE5581 RSREX LN56721,SZMMUJEZSEUSEZRAE0216537580,5581 RSREX LN56721000000-3,5581 RSREX LN567210216537580,000000-30216537580,0216537580SZMMUJEZSEUSEZRAE000000-3
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,0132144161,0,...,0.014499,SJJZSXRSZETJXTXXS,1387 UJZXJ RD35286,SJJZSXRSZETJXTXXS19440430,SJJZSXRSZETJXTXXS1387 UJZXJ RD35286,SJJZSXRSZETJXTXXS0132144161,1387 UJZXJ RD3528619440430,1387 UJZXJ RD352860132144161,194404300132144161,0132144161SJJZSXRSZETJXTXXS19440430
4,5,2016-01-01,024065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0,...,0.014499,SSSXUEJMSSSUUJXUZ,279 EAASA WY03173,SSSXUEJMSSSUUJXUZ19980315,SSSXUEJMSSSUUJXUZ279 EAASA WY03173,SSSXUEJMSSSUUJXUZ6101082272,279 EAASA WY0317319980315,279 EAASA WY031736101082272,199803156101082272,6101082272SSSXUEJMSSSUUJXUZ19980315

In [7]:
df.columns

Index(['record', 'date', 'ssn', 'firstname', 'lastname', 'address', 'zip5',
       'dob', 'homephone', 'fraud_label', 'dow', 'dow_risk', 'name',
       'fulladdress', 'name_dob', 'name_fulladdress', 'name_homephone',
       'fulladdress_dob', 'fulladdress_homephone', 'dob_homephone',
       'homephone_name_dob'],
      dtype='object')

In [8]:
# numpy.r_ = <numpy.lib.index_tricks.RClass object>¶. This is a simple way to build up arrays quickly. 
import numpy as np

for field in list(df.iloc[:,np.r_[3:9, 12:15]].columns):
    df['ssn_'+ field] = df.ssn + df[field]
df.columns

Index(['record', 'date', 'ssn', 'firstname', 'lastname', 'address', 'zip5',
       'dob', 'homephone', 'fraud_label', 'dow', 'dow_risk', 'name',
       'fulladdress', 'name_dob', 'name_fulladdress', 'name_homephone',
       'fulladdress_dob', 'fulladdress_homephone', 'dob_homephone',
       'homephone_name_dob', 'ssn_firstname', 'ssn_lastname', 'ssn_address',
       'ssn_zip5', 'ssn_dob', 'ssn_homephone', 'ssn_name', 'ssn_fulladdress',
       'ssn_name_dob'],
      dtype='object')

In [9]:
attributes = list(df.iloc[: ,np.r_[2,5,7,8,12:30]].columns)
attributes

['ssn',
 'address',
 'dob',
 'homephone',
 'name',
 'fulladdress',
 'name_dob',
 'name_fulladdress',
 'name_homephone',
 'fulladdress_dob',
 'fulladdress_homephone',
 'dob_homephone',
 'homephone_name_dob',
 'ssn_firstname',
 'ssn_lastname',
 'ssn_address',
 'ssn_zip5',
 'ssn_dob',
 'ssn_homephone',
 'ssn_name',
 'ssn_fulladdress',
 'ssn_name_dob']

In [10]:
df1= df.copy()
vars= df.copy()
df1['check_date']= df1.date
df1['check_record']= df1.record
vars.shape

(1000000, 30)

In [11]:
#from timeit import default_timer as time
import time
import datetime as dt

In [12]:
begin=time.time()
for entity in attributes:
    st=time.time()
    df_1= df1[['record', 'date', entity]]
    df_r= df1[['check_record', 'check_date', entity]]
    temp= pd.merge(df_1, df_r, left_on = entity, right_on= entity)

    # day_since
    day_since_df= temp[temp.record > temp.check_record][['record', 'date', 'check_date']]. groupby('record')[['date', 'check_date']].last()
    mapper = (day_since_df.date - day_since_df.check_date).dt.days
    vars[entity + '_day_since']= vars.record.map(mapper)
    vars[entity + '_day_since'].fillna(365,inplace = True)
    print(f'\n{entity}_day_since---> Done')

    # velocity
    for offset_t in [0,1,3,7,14,30]:
        count_day_df= temp[(temp.check_date >= (temp.date - dt.timedelta(offset_t)))& (temp.record >= temp.check_record)]
        col_name = f'{entity}_count_{offset_t}'
        mapper2= count_day_df.groupby('record')[entity].count()
        vars[col_name]= vars.record.map(mapper2)

        print(f'{entity}_count_{str(offset_t)} ---> Done')
    print(f'Run time for entity {entity} -------------{time.time()-st}s')

print(f'Total run time : {(time.time()-begin) / 60} min')

ssn_day_since---> Done
ssn_count_0 ---> Done
ssn_count_1 ---> Done
ssn_count_3 ---> Done
ssn_count_7 ---> Done
ssn_count_14 ---> Done
ssn_count_30 ---> Done
Run time for entity ssn -------------5.086274862289429s

address_day_since---> Done
address_count_0 ---> Done
address_count_1 ---> Done
address_count_3 ---> Done
address_count_7 ---> Done
address_count_14 ---> Done
address_count_30 ---> Done
Run time for entity address -------------4.6647021770477295s

dob_day_since---> Done
dob_count_0 ---> Done
dob_count_1 ---> Done
dob_count_3 ---> Done
dob_count_7 ---> Done
dob_count_14 ---> Done
dob_count_30 ---> Done
Run time for entity dob -------------47.24394178390503s

homephone_day_since---> Done
homephone_count_0 ---> Done
homephone_count_1 ---> Done
homephone_count_3 ---> Done
homephone_count_7 ---> Done
homephone_count_14 ---> Done
homephone_count_30 ---> Done
Run time for entity homephone -------------49.52856707572937s

name_day_since---> Done
name_count_0 ---> Done
name_count_1 ---> Done
name_count_3 ---> Done
name_count_7 ---> Done
name_count_14 ---> Done
name_count_30 ---> Done
Run time for entity name -------------8.922096014022827s

fulladdress_day_since---> Done
fulladdress_count_0 ---> Done
fulladdress_count_1 ---> Done
fulladdress_count_3 ---> Done
fulladdress_count_7 ---> Done
fulladdress_count_14 ---> Done
fulladdress_count_30 ---> Done
Run time for entity fulladdress -------------5.490903854370117s

name_dob_day_since---> Done
name_dob_count_0 ---> Done
name_dob_count_1 ---> Done
name_dob_count_3 ---> Done
name_dob_count_7 ---> Done
name_dob_count_14 ---> Done
name_dob_count_30 ---> Done
Run time for entity name_dob -------------4.543645143508911s

name_fulladdress_day_since---> Done
name_fulladdress_count_0 ---> Done
name_fulladdress_count_1 ---> Done
name_fulladdress_count_3 ---> Done
name_fulladdress_count_7 ---> Done
name_fulladdress_count_14 ---> Done
name_fulladdress_count_30 ---> Done
Run time for entity name_fulladdress -------------4.540225028991699s

name_homephone_day_since---> Done
name_homephone_count_0 ---> Done
name_homephone_count_1 ---> Done
name_homephone_count_3 ---> Done
name_homephone_count_7 ---> Done
name_homephone_count_14 ---> Done
name_homephone_count_30 ---> Done
Run time for entity name_homephone -------------4.346320152282715s

fulladdress_dob_day_since---> Done
fulladdress_dob_count_0 ---> Done
fulladdress_dob_count_1 ---> Done
fulladdress_dob_count_3 ---> Done
fulladdress_dob_count_7 ---> Done
fulladdress_dob_count_14 ---> Done
fulladdress_dob_count_30 ---> Done
Run time for entity fulladdress_dob -------------4.238769054412842s

fulladdress_homephone_day_since---> Done
fulladdress_homephone_count_0 ---> Done
fulladdress_homephone_count_1 ---> Done
fulladdress_homephone_count_3 ---> Done
fulladdress_homephone_count_7 ---> Done
fulladdress_homephone_count_14 ---> Done
fulladdress_homephone_count_30 ---> Done
Run time for entity fulladdress_homephone -------------4.302316904067993s

dob_homephone_day_since---> Done
dob_homephone_count_0 ---> Done
dob_homephone_count_1 ---> Done
dob_homephone_count_3 ---> Done
dob_homephone_count_7 ---> Done
dob_homephone_count_14 ---> Done
dob_homephone_count_30 ---> Done
Run time for entity dob_homephone -------------4.333224058151245s

homephone_name_dob_day_since---> Done
homephone_name_dob_count_0 ---> Done
homephone_name_dob_count_1 ---> Done
homephone_name_dob_count_3 ---> Done
homephone_name_dob_count_7 ---> Done
homephone_name_dob_count_14 ---> Done
homephone_name_dob_count_30 ---> Done
Run time for entity homephone_name_dob -------------4.470127820968628s

ssn_firstname_day_since---> Done
ssn_firstname_count_0 ---> Done
ssn_firstname_count_1 ---> Done
ssn_firstname_count_3 ---> Done
ssn_firstname_count_7 ---> Done
ssn_firstname_count_14 ---> Done
ssn_firstname_count_30 ---> Done
Run time for entity ssn_firstname -------------9.553981065750122s

ssn_lastname_day_since---> Done
ssn_lastname_count_0 ---> Done
ssn_lastname_count_1 ---> Done
ssn_lastname_count_3 ---> Done
ssn_lastname_count_7 ---> Done
ssn_lastname_count_14 ---> Done
ssn_lastname_count_30 ---> Done
Run time for entity ssn_lastname -------------4.96782112121582s

ssn_address_day_since---> Done
ssn_address_count_0 ---> Done
ssn_address_count_1 ---> Done
ssn_address_count_3 ---> Done
ssn_address_count_7 ---> Done
ssn_address_count_14 ---> Done
ssn_address_count_30 ---> Done
Run time for entity ssn_address -------------4.6314697265625s

ssn_zip5_day_since---> Done
ssn_zip5_count_0 ---> Done
ssn_zip5_count_1 ---> Done
ssn_zip5_count_3 ---> Done
ssn_zip5_count_7 ---> Done
ssn_zip5_count_14 ---> Done
ssn_zip5_count_30 ---> Done
Run time for entity ssn_zip5 -------------4.332510948181152s

ssn_dob_day_since---> Done
ssn_dob_count_0 ---> Done
ssn_dob_count_1 ---> Done
ssn_dob_count_3 ---> Done
ssn_dob_count_7 ---> Done
ssn_dob_count_14 ---> Done
ssn_dob_count_30 ---> Done
Run time for entity ssn_dob -------------4.243802785873413s

ssn_homephone_day_since---> Done
ssn_homephone_count_0 ---> Done
ssn_homephone_count_1 ---> Done
ssn_homephone_count_3 ---> Done
ssn_homephone_count_7 ---> Done
ssn_homephone_count_14 ---> Done
ssn_homephone_count_30 ---> Done
Run time for entity ssn_homephone -------------4.418508052825928s

ssn_name_day_since---> Done
ssn_name_count_0 ---> Done
ssn_name_count_1 ---> Done
ssn_name_count_3 ---> Done
ssn_name_count_7 ---> Done
ssn_name_count_14 ---> Done
ssn_name_count_30 ---> Done
Run time for entity ssn_name -------------4.328503847122192s

ssn_fulladdress_day_since---> Done
ssn_fulladdress_count_0 ---> Done
ssn_fulladdress_count_1 ---> Done
ssn_fulladdress_count_3 ---> Done
ssn_fulladdress_count_7 ---> Done
ssn_fulladdress_count_14 ---> Done
ssn_fulladdress_count_30 ---> Done
Run time for entity ssn_fulladdress -------------4.373657941818237s

ssn_name_dob_day_since---> Done
ssn_name_dob_count_0 ---> Done
ssn_name_dob_count_1 ---> Done
ssn_name_dob_count_3 ---> Done
ssn_name_dob_count_7 ---> Done
ssn_name_dob_count_14 ---> Done
ssn_name_dob_count_30 ---> Done
Run time for entity ssn_name_dob -------------4.437787771224976s
Total run time : 3.2835092027982076 min

In [13]:
vars.shape

(1000000, 184)

In [14]:
vars.columns

Index(['record', 'date', 'ssn', 'firstname', 'lastname', 'address', 'zip5',
       'dob', 'homephone', 'fraud_label',
       ...
       'ssn_fulladdress_count_7', 'ssn_fulladdress_count_14',
       'ssn_fulladdress_count_30', 'ssn_name_dob_day_since',
       'ssn_name_dob_count_0', 'ssn_name_dob_count_1', 'ssn_name_dob_count_3',
       'ssn_name_dob_count_7', 'ssn_name_dob_count_14',
       'ssn_name_dob_count_30'],
      dtype='object', length=184)

In [15]:
# relative velocity
start = time.time()
for att in attributes:
    for d in ['0', '1']:
        for dd in ['3', '7', '14', '30']:
            vars[att + '_count_'+ d + '_by_' + dd] = vars[att+ '_count_' + d] / (vars[att+ '_count_' + dd] / float(dd)) 

print(f'Total run time : {time.time()-start}s')

Total run time : 14.331438064575195s

In [16]:
vars.shape

(1000000, 360)

In [17]:
vars.columns

Index(['record', 'date', 'ssn', 'firstname', 'lastname', 'address', 'zip5',
       'dob', 'homephone', 'fraud_label',
       ...
       'ssn_fulladdress_count_1_by_14', 'ssn_fulladdress_count_1_by_30',
       'ssn_name_dob_count_0_by_3', 'ssn_name_dob_count_0_by_7',
       'ssn_name_dob_count_0_by_14', 'ssn_name_dob_count_0_by_30',
       'ssn_name_dob_count_1_by_3', 'ssn_name_dob_count_1_by_7',
       'ssn_name_dob_count_1_by_14', 'ssn_name_dob_count_1_by_30'],
      dtype='object', length=360)

In [18]:
attributes.remove('address')
attributes.remove('dob')
attributes.remove('name')
attributes.remove('ssn_address')
attributes.remove('homephone')
attributes.remove('name_homephone')
attributes.remove('fulladdress_homephone')
attributes.remove('homephone_name_dob')
attributes.remove('ssn_homephone')
attributes.remove('ssn_firstname')
attributes.remove('ssn_dob')
attributes

['ssn',
 'fulladdress',
 'name_dob',
 'name_fulladdress',
 'fulladdress_dob',
 'dob_homephone',
 'ssn_lastname',
 'ssn_zip5',
 'ssn_name',
 'ssn_fulladdress',
 'ssn_name_dob']

In [19]:
begin = time.time()
for entity in attributes:
    for field in attributes:
        at = time.time()
        if field == entity:
            continue
        else:
            df_c = df1[['record', 'date', entity]]
            df_d = df1[['check_record', 'check_date', entity, field]]
            temp = pd.merge(df_c, df_d, left_on= entity, right_on= entity)

        # number of unique for particular field
        for offset_t in [1,3,7,14,30,60]:
            count_day_df= temp[(temp.check_date >= (temp.date - dt.timedelta(offset_t)))& (temp.record >= temp.check_record)]
            col_name= f'{entity}_unique_count_for_{field}_{offset_t}'
            mapper= count_day_df.groupby(['record'])[field].nunique()
            vars[col_name]= vars.record.map(mapper)
        print(f'Run time for entity {entity} in field {field}------------{time.time()-st}s')

print(f'Total run time : {(time.time()-begin) / 60} min')

Run time for entity ssn in field fulladdress------------28.777976989746094s
Run time for entity ssn in field name_dob------------37.43226885795593s
Run time for entity ssn in field name_fulladdress------------45.651336908340454s
Run time for entity ssn in field fulladdress_dob------------53.05592489242554s
Run time for entity ssn in field dob_homephone------------59.97350001335144s
Run time for entity ssn in field ssn_lastname------------67.18547797203064s
Run time for entity ssn in field ssn_zip5------------73.84409499168396s
Run time for entity ssn in field ssn_name------------80.73738884925842s
Run time for entity ssn in field ssn_fulladdress------------88.37387800216675s
Run time for entity ssn in field ssn_name_dob------------111.51667404174805s
Run time for entity fulladdress in field ssn------------118.52336287498474s
Run time for entity fulladdress in field name_dob------------125.83226585388184s
Run time for entity fulladdress in field name_fulladdress------------133.30385613441467s
Run time for entity fulladdress in field fulladdress_dob------------140.2410638332367s
Run time for entity fulladdress in field dob_homephone------------148.1209897994995s
Run time for entity fulladdress in field ssn_lastname------------155.4199149608612s
Run time for entity fulladdress in field ssn_zip5------------162.21133399009705s
Run time for entity fulladdress in field ssn_name------------169.67135095596313s
Run time for entity fulladdress in field ssn_fulladdress------------177.03661394119263s
Run time for entity fulladdress in field ssn_name_dob------------184.090754032135s
Run time for entity name_dob in field ssn------------191.25486516952515s
Run time for entity name_dob in field fulladdress------------199.38799405097961s
Run time for entity name_dob in field name_fulladdress------------207.11621809005737s
Run time for entity name_dob in field fulladdress_dob------------214.7879159450531s
Run time for entity name_dob in field dob_homephone------------222.19530200958252s
Run time for entity name_dob in field ssn_lastname------------241.28025698661804s
Run time for entity name_dob in field ssn_zip5------------250.12615704536438s
Run time for entity name_dob in field ssn_name------------259.5712990760803s
Run time for entity name_dob in field ssn_fulladdress------------268.58515882492065s
Run time for entity name_dob in field ssn_name_dob------------275.97878074645996s
Run time for entity name_fulladdress in field ssn------------283.04289507865906s
Run time for entity name_fulladdress in field fulladdress------------290.2648150920868s
Run time for entity name_fulladdress in field name_dob------------297.8257269859314s
Run time for entity name_fulladdress in field fulladdress_dob------------306.4987609386444s
Run time for entity name_fulladdress in field dob_homephone------------313.93717193603516s
Run time for entity name_fulladdress in field ssn_lastname------------321.2048828601837s
Run time for entity name_fulladdress in field ssn_zip5------------328.1380319595337s
Run time for entity name_fulladdress in field ssn_name------------335.1370038986206s
Run time for entity name_fulladdress in field ssn_fulladdress------------342.1978979110718s
Run time for entity name_fulladdress in field ssn_name_dob------------352.1938941478729s
Run time for entity fulladdress_dob in field ssn------------358.9208171367645s
Run time for entity fulladdress_dob in field fulladdress------------382.2796139717102s
Run time for entity fulladdress_dob in field name_dob------------391.25712299346924s
Run time for entity fulladdress_dob in field name_fulladdress------------399.5983910560608s
Run time for entity fulladdress_dob in field dob_homephone------------408.0335421562195s
Run time for entity fulladdress_dob in field ssn_lastname------------417.02115297317505s
Run time for entity fulladdress_dob in field ssn_zip5------------425.64517998695374s
Run time for entity fulladdress_dob in field ssn_name------------432.82360887527466s
Run time for entity fulladdress_dob in field ssn_fulladdress------------439.9286677837372s
Run time for entity fulladdress_dob in field ssn_name_dob------------447.34782695770264s
Run time for entity dob_homephone in field ssn------------454.7262330055237s
Run time for entity dob_homephone in field fulladdress------------461.6666169166565s
Run time for entity dob_homephone in field name_dob------------468.75696778297424s
Run time for entity dob_homephone in field name_fulladdress------------476.00044417381287s
Run time for entity dob_homephone in field fulladdress_dob------------482.9897110462189s
Run time for entity dob_homephone in field ssn_lastname------------489.9384460449219s
Run time for entity dob_homephone in field ssn_zip5------------499.19190073013306s
Run time for entity dob_homephone in field ssn_name------------508.03956294059753s
Run time for entity dob_homephone in field ssn_fulladdress------------535.6024549007416s
Run time for entity dob_homephone in field ssn_name_dob------------543.0586831569672s
Run time for entity ssn_lastname in field ssn------------549.8396148681641s
Run time for entity ssn_lastname in field fulladdress------------557.0111420154572s
Run time for entity ssn_lastname in field name_dob------------563.8332369327545s
Run time for entity ssn_lastname in field name_fulladdress------------571.4950928688049s
Run time for entity ssn_lastname in field fulladdress_dob------------579.5799958705902s
Run time for entity ssn_lastname in field dob_homephone------------588.0066590309143s
Run time for entity ssn_lastname in field ssn_zip5------------595.3545649051666s
Run time for entity ssn_lastname in field ssn_name------------603.1835918426514s
Run time for entity ssn_lastname in field ssn_fulladdress------------610.5568149089813s
Run time for entity ssn_lastname in field ssn_name_dob------------617.8883609771729s
Run time for entity ssn_zip5 in field ssn------------624.7701799869537s
Run time for entity ssn_zip5 in field fulladdress------------632.2125859260559s
Run time for entity ssn_zip5 in field name_dob------------639.4397580623627s
Run time for entity ssn_zip5 in field name_fulladdress------------647.8415699005127s
Run time for entity ssn_zip5 in field fulladdress_dob------------678.8093309402466s
Run time for entity ssn_zip5 in field dob_homephone------------686.5831499099731s
Run time for entity ssn_zip5 in field ssn_lastname------------694.3325579166412s
Run time for entity ssn_zip5 in field ssn_name------------701.7211029529572s
Run time for entity ssn_zip5 in field ssn_fulladdress------------710.7257299423218s
Run time for entity ssn_zip5 in field ssn_name_dob------------720.5500588417053s
Run time for entity ssn_name in field ssn------------727.3194329738617s
Run time for entity ssn_name in field fulladdress------------734.3539040088654s
Run time for entity ssn_name in field name_dob------------741.6581909656525s
Run time for entity ssn_name in field name_fulladdress------------750.3645610809326s
Run time for entity ssn_name in field fulladdress_dob------------757.4402568340302s
Run time for entity ssn_name in field dob_homephone------------764.4499907493591s
Run time for entity ssn_name in field ssn_lastname------------772.6713488101959s
Run time for entity ssn_name in field ssn_zip5------------779.8453559875488s
Run time for entity ssn_name in field ssn_fulladdress------------787.0910630226135s
Run time for entity ssn_name in field ssn_name_dob------------795.4065599441528s
Run time for entity ssn_fulladdress in field ssn------------834.2665898799896s
Run time for entity ssn_fulladdress in field fulladdress------------844.0746810436249s
Run time for entity ssn_fulladdress in field name_dob------------853.6229948997498s
Run time for entity ssn_fulladdress in field name_fulladdress------------862.8345420360565s
Run time for entity ssn_fulladdress in field fulladdress_dob------------870.6062808036804s
Run time for entity ssn_fulladdress in field dob_homephone------------877.9713399410248s
Run time for entity ssn_fulladdress in field ssn_lastname------------885.683119058609s
Run time for entity ssn_fulladdress in field ssn_zip5------------892.774384021759s
Run time for entity ssn_fulladdress in field ssn_name------------900.2705729007721s
Run time for entity ssn_fulladdress in field ssn_name_dob------------908.3077490329742s
Run time for entity ssn_name_dob in field ssn------------915.415284872055s
Run time for entity ssn_name_dob in field fulladdress------------922.6912469863892s
Run time for entity ssn_name_dob in field name_dob------------931.7959859371185s
Run time for entity ssn_name_dob in field name_fulladdress------------941.6084220409393s
Run time for entity ssn_name_dob in field fulladdress_dob------------948.7341160774231s
Run time for entity ssn_name_dob in field dob_homephone------------956.0921277999878s
Run time for entity ssn_name_dob in field ssn_lastname------------1006.8635289669037s
Run time for entity ssn_name_dob in field ssn_zip5------------1014.4551730155945s
Run time for entity ssn_name_dob in field ssn_name------------1022.3781819343567s
Run time for entity ssn_name_dob in field ssn_fulladdress------------1032.5733029842377s
Total run time : 16.890217419465383 min

In [20]:
vars.shape

(1000000, 1020)

In [21]:
vars.head(5)

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,...,ssn_name_dob_unique_count_for_ssn_name_7,ssn_name_dob_unique_count_for_ssn_name_14,ssn_name_dob_unique_count_for_ssn_name_30,ssn_name_dob_unique_count_for_ssn_name_60,ssn_name_dob_unique_count_for_ssn_fulladdress_1,ssn_name_dob_unique_count_for_ssn_fulladdress_3,ssn_name_dob_unique_count_for_ssn_fulladdress_7,ssn_name_dob_unique_count_for_ssn_fulladdress_14,ssn_name_dob_unique_count_for_ssn_fulladdress_30,ssn_name_dob_unique_count_for_ssn_fulladdress_60
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,000000-1,1797504115,0,...,1,1,1,1,1,1,1,1,1,1
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,...,1,1,1,1,1,1,1,1,1,1
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,000000-3,0216537580,0,...,1,1,1,1,1,1,1,1,1,1
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,0132144161,0,...,1,1,1,1,1,1,1,1,1,1
4,5,2016-01-01,024065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0,...,1,1,1,1,1,1,1,1,1,1

In [22]:
vars.to_csv('vars.csv')